workflows/home-lab/moody-menu.json
{
  "name": "Moody Menu",
  "nodes": [
    {
      "parameters": {
        "event": [
          "rowUpdated"
        ],
        "options": {
          "sheetName": {}
        }
      },
      "id": "b1c1e1c1-0000-4000-8000-000000000001",
      "name": "Google Sheets Trigger - Row Updated",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "oauthApi": {
          "id": "1",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "event": [
          "newRow"
        ],
        "options": {
          "sheetName": {}
        }
      },
      "id": "b1c1e1c1-0000-4000-8000-000000000002",
      "name": "Google Sheets Trigger - New Row",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [240, 480],
      "credentials": {
        "oauthApi": {
          "id": "1",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "b1c1e1c1-0000-4000-8000-000000000003",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [460, 390]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "spreadsheetId",
              "value": "={{ $json.spreadsheetId }}"
            },
            {
              "name": "sheetName",
              "value": "={{ $json.sheetName }}"
            },
            {
              "name": "eventType",
              "value": "={{ $json.eventType }}"
            },
            {
              "name": "rowId",
              "value": "={{ $json.rowId }}"
            },
            {
              "name": "message",
              "value": "Menu change detected in Moody Menu spreadsheet"
            },
            {
              "name": "timestamp",
              "value": "={{ $now }}"
            }
          ]
        }
      },
      "id": "b1c1e1c1-0000-4000-8000-000000000004",
      "name": "Extract Event Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [680, 390]
    }
  ],
  "connections": {
    "Google Sheets Trigger - Row Updated": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger - New Row": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Extract Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}