workflows/home-lab/moody-menu.json
{
  "name": "Moody Menu",
  "nodes": [
    {
      "parameters": {
        "event": [
          "rowUpdated"
        ],
        "options": {
          "sheetName": {
            "__rl": true,
            "value": "Sheet1",
            "mode": "list",
          "mode": "name"
          }
        }
      },
      "id": "b1c1e1c1-0000-4000-8000-000000000001",
      "name": "Google Sheets Trigger - Row Updated",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "oauthApi": {
          "id": "1",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "event": [
          "newRow"
        ],
        "options": {
          "sheetName": {
            "__rl": true,
            "value": "Sheet1",
            "mode": "list",
          "mode": "name"
          }
        }
      },
      "id": "b1c1e1c1-0000-4000-8000-000000000002",
      "name": "Google Sheets Trigger - New Row",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [240, 480],
      "credentials": {
        "oauthApi": {
          "id": "1",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "b1c1e1c1-0000-4000-8000-000000000003",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [460, 390]
    },
    {
      "parameters": {
        "jsCode": "// Normalize Google Sheets data for Cloudflare D1 database\n// Extract row data and determine operation type (insert/update)\n\nconst input = $input.first().json;\nconst sheetName = input.sheetName || 'Sheet1';\nconst spreadsheetId = input.spreadsheetId;\n\n// Extract row data based on trigger type\nlet rowData = {};\nlet operation = 'unknown';\nlet rowId = null;\n\nif (input.eventType === 'rowUpdated') {\n  // Row updated event\n  operation = 'update';\n  rowData = input.newRow || input.changes || {};\n  rowId = input.rowId || input.rowIndex;\n} else if (input.eventType === 'newRow') {\n  // New row event\n  operation = 'insert';\n  rowData = input.row || input.changes || {};\n  rowId = input.rowId || input.rowIndex;\n} else {\n  // Fallback for other event types\n  rowData = input.changes || input.row || {};\n  operation = 'insert';\n  rowId = input.rowId || input.rowIndex;\n}\n\n// Build Cloudflare D1 compatible data structure\nconst d1Data = {\n  operation: operation,\n  spreadsheet_id: spreadsheetId,\n  sheet_name: sheetName,\n  row_id: rowId,\n  timestamp: new Date().toISOString(),\n  // Extract column data (assuming common menu columns)\n  data: {\n    name: rowData.name || rowData.Name || rowData['Menu Item'] || '',\n    description: rowData.description || rowData.Description || '',\n    price: parseFloat(rowData.price || rowData.Price || rowData.Cost || 0) || 0,\n    category: rowData.category || rowData.Category || 'uncategorized',\n    available: Boolean(rowData.available !== undefined ? rowData.available : (rowData.Available !== undefined ? rowData.Available : true)),\n    // Include all other columns dynamically\n    ...Object.fromEntries(\n      Object.entries(rowData).filter(([key]) => \n        !['name', 'Name', 'Menu Item', 'description', 'Description', 'price', 'Price', 'Cost', 'category', 'Category', 'available', 'Available'].includes(key)\n      )\n    )\n  },\n  raw_data: JSON.stringify(rowData)\n};\n\nreturn [{ json: d1Data }];"
      },
      "id": "b1c1e1c1-0000-4000-8000-000000000004",
      "name": "Process for Cloudflare D1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 390]
    },
    {
      "parameters": {
        "url": "=https://cloudflare.com/client/v4.0/accounts/${CLOUDFLARE_ACCOUNT_ID}/d1/database/${CLOUDFLARE_DATABASE_ID}/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sql\": \"INSERT OR REPLACE INTO menu_items (spreadsheet_id, sheet_name, row_id, name, description, price, category, available, data, timestamp) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\",\n  \"params\": [\n    \"${CLOUDFLARE_DATABASE_ID}\",\n    $json.sheet_name,\n    $json.row_id,\n    $json.data.name,\n    $json.data.description,\n    $json.data.price,\n    $json.data.category,\n    $json.data.available,\n    $json.raw_data,\n    $json.timestamp\n  ]\n}",
        "options": {}
      },
      "id": "b1c1e1c1-0000-4000-8000-000000000005",
      "name": "Send to Cloudflare D1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 390],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Cloudflare API Token"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "=success"
            },
            {
              "name": "message",
              "value": "=Menu data synced to Cloudflare D1"
            },
            {
              "name": "operation",
              "value": "={{ $json.operation }}"
            },
            {
              "name": "rowId",
              "value": "={{ $json.row_id }}"
            },
            {
              "name": "itemName",
              "value": "={{ $json.data.name }}"
            }
          ]
        }
      },
      "id": "b1c1e1c1-0000-4000-8000-000000000006",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1120, 390]
    }
  ],
  "connections": {
    "Google Sheets Trigger - Row Updated": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger - New Row": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Process for Cloudflare D1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process for Cloudflare D1": {
      "main": [
        [
          {
            "node": "Send to Cloudflare D1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Cloudflare D1": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}